{% extends "base.html" %}
{% load static %}
{% block content %}


<div>
    <a class="btn btn-success" href="{% url 'quotes:all_quotes' %}"> back home</a>
</div>

{% if edit_quote %}

    <form action="{% url 'quotes:edit_quote' quote.id %}" method="POST">
        {% csrf_token %}
        <div>
            title <input type="text" name="title" value="{{ quote.title }}" required/>
        </div>
        <div>
            quoted_by <input type="text" name="quoted_by" value="{{ quote.quoted_by }}" required/>
        </div>
        <div>
            type
            <select name="type" required>
            {% for type in types %}
                {% if quote.type == type %}
                    <option value="{{type}}" selected>{{type}}</option>
                {% else %}
                    <option value="{{type}}">{{type}}</option>
                {% endif %}
            {% endfor %}
            </select>
        </div>
        <div>
            description <input type="text" name="description" value="{{ quote.description}}"/>
        </div>
        <div>
             <img style="width:150px;height:150px" src="{% static 'images/' %}{{ quote.image }}" class="card-img-top" alt="...">
        </div>
        <div>
            <input type="file" name="image" />
        </div>
        <input type="submit" value="Save">
    </form>
   

    
{% else %}

{% if messages %}
    {%for message in messages%}
        <div> {{message}} </div>
    {% endfor %}

{% endif%}

    <div>
        <div>
            <img style="width:150px;height:150px" src="{ static 'images/' }{{ single_quote.image }}" class="card-img-top" alt="...">
        </div>
        <div>{{ single_quote.title }}</div>
    
        <div>{{single_quote.quoted_by}}</div>
        <div>{{single_quote.type}}</div>

        <div>{{single_quote.description}}</div>
        

    </div>
{% endif %}
{% endblock %}
